<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Main</a>
        </li>
    </ul>
    <ul class="navbar-nav">
          <% if (typeof auth == 'undefined' || !auth) { %>
          <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/auth">Authenticate</a>
          </li>
          <% } else { %>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% } %>
    </ul>
</nav>
      