<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">

    <navigation>
        <% include ./partials/navigation %>
    </navigation>

    <main>
        <div class="jumbotron">
            <h1>Main page</h1>
            <p>Welcome to collective blog</p>
        </div>
    </main>

</body>

</html>